<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Administrateur</title>
        <link rel="stylesheet" href="/css/custom/home.css" />
    </head>
    <body>
        <header>
            <h1>Page admin</h1>
            <a href="">Home</a>
        </header>
    </body>
</html>
